<div class="home-page">
    <div class="header slider">
        <!--Refactor-->
        <div>
            <img src="../static/img/book1.jpg" alt="Image One">
            <div class="container-fluid p-0 home-page text-white">
                <h1 class="text-center p-5" th:text="#{home.welcome}"></h1>
                <h3 class="text-center p-5" th:text="#{home.description}"></h3>
            </div>
        </div>
        <div>
            <img src="../static/img/book2.jpeg"  alt="Image Three">
            <div class="container-fluid p-0 home-page text-white">
                <h1 class="text-center p-5" th:text="#{home.welcome}"></h1>
                <h3 class="text-center p-5" th:text="#{home.description}"></h3>
            </div>
        </div>
        <div>
            <img src="../static/img/book3.jpeg"  alt="Image Two">
            <div class="container-fluid p-0 home-page text-white">
                <h1 class="text-center p-5" th:text="#{home.welcome}"></h1>
                <h3 class="text-center p-5" th:text="#{home.description}"></h3>
            </div>
        </div>
    </div>
</div>